<div class="cartContainer">
    <app-header></app-header>
    <br>
    <div class="summary">
        <div class="cartSummary">
            <div class="cart">
                <br>
                <h4 class="summaryTitle">&emsp;CART SUMMARY</h4>
                <div class="cartContent " *ngFor="let prod of cartArray;let i = index">
                    <div class="flex">
                        <div class="imgHolder"><img [src]="'https://annapurnaassets.s3.amazonaws.com/'+prod.variantImage"  alt="Photo of a Shiba Inu">
                        </div>
                        <div class="w-100">
                            <div class="productDetail">
                                <p class="title">
                                    {{prod.ProductName}}&emsp;<span><strong>{{prod.variant}}</strong></span>
                                </p>
                                <div>
                                    <div fxLayout="row" fxLayoutAlign="space-between center" class="inc-dec-item">
                                        <div class="icon-container remove-icon" matRipple (click)="minusQuantity()">
                                            <mat-icon>remove</mat-icon>
                                        </div>
                                        <div>
                                            <div class="quantity-count">{{prod.quantity}}</div>
                                        </div>
                                        <div class="icon-container add-icon" matRipple (click)="addQuantity()">
                                            <mat-icon>add</mat-icon>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="costDetail">
                                <div class="current-price"><span class="dollar">$ </span>{{prod.discountPrice}} <span
                                        class="original-price">
                                        $ {{prod.variantMrp}}
                                    </span></div>

                            </div>
                        </div>

                    </div>
                    <br>
                    <div class="divider"></div>
                    <br *ngIf="i != cartArray.length -1">
                </div>


                <div class="example-button-row actionButton">
                    <button mat-stroked-button class="shoppingButton" (click)="continueShopping()">Continue to Shopping</button>
                    <button mat-raised-button class="placeOrder" (click)="checkOut()">Place Order</button>
                </div>

            </div>
        </div>
        <div class="billSummary">
            <div class="billSummaryInner">

                <h4 class="summaryTitle">BILL SUMMARY</h4>

                <p class="charge">Total Amount <span class="price"><span class="dollar">$ </span>8.99</span></p>
                <div class="divider2"></div>
                <p class="charge">Delivery Charges<span class="price"><span class="dollar">$ </span>8.99</span></p>
                <div class="divider2"></div>
                <br>
                <div class="freeDelivery">
                    <div>
                        <img src="assets/icons/Shape_606.png" height="32px">
                    </div>
                    <div class="freeDeliveryInner">
                        <p class="textContent">You can get <span class="greencolor">Free Delivery</span> if you can shop
                            for
                            extra <span class="greencolor">$40.4</span></p>
                    </div>
                </div>


            </div>
            <div class="netAmount">
                <br><br>
                <p style="display: flex;justify-content: space-between;    width: 90%;"><span> Total Amount
                    </span><span><span class="dollar" style="font-size: 23px">$
                        </span>

                        <span style="font-size: 23px">63.25</span></span></p>
            </div>
        </div>
    </div>
    <div class="features">
        <app-site-features></app-site-features>
    </div>
    <app-footer></app-footer>
</div>