<div class="cartContainer">
    <app-header></app-header>
    <br>
    <div class="summary">
        <div class="cartSummary">
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                    <mat-expansion-panel-header class="mat-expansion-custom-header">
                        <mat-panel-title class="title">
                            LOGIN/SIGNUP
                        </mat-panel-title>


                    </mat-expansion-panel-header>
                    <p class="textContent">Click on the button below to Login or Signup using
                        your preferred channels.</p><br>
                    <button mat-raised-button class="button" color="#fff" (click)="nextStep()">Continue</button>
                    <mat-action-row>
                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                    <mat-expansion-panel-header class="mat-expansion-custom-header">
                        <mat-panel-title class="title">
                            DELIVERY ADDRESS
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-form-field class="formclass">
                        <mat-label>First Name</mat-label>
                        <input matInput>
                    </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-form-field class="formclass">
                        <mat-label>Last Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="textArea">
                        <mat-label>Address Line</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                    <mat-form-field class="formclass">
                        <mat-label>Pincode</mat-label>
                        <input matInput>
                    </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-form-field class="formclass">
                        <mat-label>State</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="formclass">
                        <mat-label>Landmark</mat-label>
                        <input matInput>
                    </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-form-field class="formclass">
                        <mat-label>Mobile Number</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <button mat-raised-button class="button" style="margin-left: 12px;" color="#fff"
                        (click)="nextStep()">Save & Deliver</button>
                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                    <mat-expansion-panel-header class="mat-expansion-custom-header">
                        <mat-panel-title class="title">
                            ORDER SUMMARY
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="cart">

                        <div class="cartContent " *ngFor="let prod of cartArray;let i = index">
                            <div class="flex">
                                <div class="imgHolder"><img [src]="'https://annapurnaassets.s3.amazonaws.com/'+prod.variantImage" alt="Photo of a Shiba Inu">
                                </div>
                                <div class="w-100">
                                    <div class="productDetail">
                                        <p class="prodTitle">
                                            {{prod.ProductName}}&nbsp;<span><strong>{{prod.variant}}</strong></span>
                                        </p>
                                        <div>
                                            <div fxLayout="row" fxLayoutAlign="space-between center"
                                                class="inc-dec-item">
                                                <div class="icon-container remove-icon" matRipple
                                                    (click)="minusQuantity()">
                                                    <mat-icon>remove</mat-icon>
                                                </div>
                                                <div>
                                                    <div class="quantity-count">{{prod.quantity}}</div>
                                                </div>
                                                <div class="icon-container add-icon" matRipple (click)="addQuantity()">
                                                    <mat-icon>add</mat-icon>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="costDetail">
                                        <div class="current-price"><span class="dollar">$ </span>{{prod.discountPrice}} <span
                                                class="original-price">
                                                $ {{prod.variantMrp}}
                                            </span></div>

                                    </div>
                                </div>

                            </div>
                            <br>
                            <div class="divider"></div>
                            <br *ngIf="i != cartArray.length -1">
                        </div>


                        <div class="example-button-row actionButton">
                            <button mat-stroked-button class="shoppingButton">Continue to Shopping</button>
                            <button mat-raised-button class="placeOrder">Place Order</button>
                        </div>

                    </div>

                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
                    <mat-expansion-panel-header class="mat-expansion-custom-header">
                        <mat-panel-title class="title">
                            PAYMENT SUMMARY
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-radio-group aria-label="Select an option" color="primary" class="radioGroup">
                        <mat-radio-button value="1">Credit Card / Debit Card</mat-radio-button>
                        <mat-radio-button value="2">Netbanking</mat-radio-button>
                        <mat-radio-button value="3">Paypal</mat-radio-button>
                    </mat-radio-group><br>
                    <button mat-raised-button class="button" color="#fff" (click)="nextStep()">Pay $63.25</button>
                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">End</button>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="billSummary">
            <div class="billSummaryInner">

                <h4 class="summaryTitle">BILL SUMMARY</h4>

                <p class="charge">Total Amount <span class="price"><span class="dollar">$ </span>8.99</span></p>
                <div class="divider2"></div>
                <p class="charge">Delivery Charges<span class="price"><span class="dollar">$ </span>8.99</span></p>
                <div class="divider2"></div>
                <br>
                <div class="freeDelivery">
                    <div>
                        <img src="assets/icons/Shape_606.png" height="32px">
                    </div>
                    <div class="freeDeliveryInner">
                        <p class="textContent">You can get <span class="greencolor">Free Delivery</span> if you can shop
                            for
                            extra <span class="greencolor">$40.4</span></p>
                    </div>
                </div>


            </div>
            <div class="netAmount">
                <br><br>
                <p style="display: flex;justify-content: space-between;    width: 90%;"><span> Total Amount
                    </span><span><span class="dollar" style="font-size: 23px">$
                        </span>

                        <span style="font-size: 23px">63.25</span></span></p>
            </div>
        </div>
    </div>
    <div class="features">
        <app-site-features></app-site-features>
    </div>
    <app-footer></app-footer>
</div>