<div class="main-container">
  <app-header></app-header>
  <div class="content">
    <div class="lr-space">
      <div class="cat-title">Home > Categories > Rice/Rice Products</div>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
        <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50">
          <div>
            <div class="preview-container">
              <div class="list-of-images">
                <img src="assets/images/Ap-Index-FP-03.png">
              </div>
              <div class="list-of-images">
                <img src="assets/images/Ap-Index-FP-03.png">
              </div>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="center center" class="img-preview">
            <img src="../../../assets/images/Ap-Index-FP-01.png">
          </div>

        </div>
        <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50">
          <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
            <div class="prod-detail-summary">
              <div fxLayout="row" fxLayoutAlign="space-between center" class="separator pa-b-25">
                <div class="f-24">{{brandName}}</div>
                <div class="measurement">{{varientValue}}</div>
              </div>
              <div class="ma-t-30">
                <span class="f-20"><span class="g-clr">$</span><b> {{variantMrp}} </b></span>
                <span class="orignal-price">${{discountPrice}}</span>
              </div>
              <div fxLayout="row" class="ma-tb-20">
                <div fxFlex="50%" class="inc-dec-item">
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <div class="icon-container remove-icon" matRipple>
                      <mat-icon>remove</mat-icon>
                    </div>
                    <div>
                      <div class="quantity-count">1</div>
                    </div>
                    <div class="icon-container add-icon" matRipple>
                      <mat-icon>add</mat-icon>
                    </div>
                  </div>
                </div>
                <div fxFlex="50%">
                  <div class="btn-add-cart" (click)="addToCart()">Add to Cart</div>
                </div>
              </div>
              <div class="ma-t-10">
                <div class="option-details">Other Options</div>
                <table class="table ma-t-10">
                  <tr>
                    <td>${{varientValue}}</td>
                    <td>
                      <span class="f-15 ma-r-10"><span class="g-clr">$</span><b> {{discountPrice}} </b></span>
                      <span class="orignal-price">${{variantMrp}}</span>
                    </td>
                    <td>
                      <mat-icon class="chk-clr">check_box</mat-icon>
                    </td>
                  </tr>
                  <!-- <tr>
                    <td>5 lb</td>
                    <td>
                      <span class="f-15 ma-r-10"><span class="g-clr">$</span><b> 7.99 </b></span>
                      <span class="orignal-price">$9.99</span>
                    </td>
                    <td>
                      <mat-icon class="chk-clr">check_box</mat-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>5 lb</td>
                    <td>
                      <span class="f-15 ma-r-10"><span class="g-clr">$</span><b> 7.99 </b></span>
                      <span class="orignal-price">$9.99</span>
                    </td>
                    <td>
                      <mat-icon class="chk-clr">check_box</mat-icon>
                    </td>
                  </tr> -->
                </table>
              </div>
              <div class="ma-t-30 separator">
                <div class="option-details">Delivery Options</div>
                <div class="pincode ma-b-30">
                  <mat-form-field>
                    <input matInput [(ngModel)]="pinCode">
                    <mat-hint class="f-14 c-clr">Check for your Pincode</mat-hint>
                  </mat-form-field>
                  <div fxFlex="50%">
                    <div class="btn-add-cart" (click)="checkForPincodeAvailablity()">Check Availablity</div>
                  </div>
                </div>
              </div>
              <div class="separator ma-tb-30">
                <div class="option-details">Description</div>
                <div class="ma-t-10 ma-b-30 ">{{description}}</div>
              </div>
              <div class="separator ma-tb-30">
                <div class="option-details">General Info</div>
                <table class="info-list">
                  <tr>
                    <td>Brand</td>
                    <td>{{brandName}}</td>
                  </tr>
                  <tr>
                    <td>Quantity</td>
                    <td>2 lb</td>
                  </tr>
                  <tr>
                    <td>Type</td>
                    <td>Aata</td>
                  </tr>
                  <tr>
                    <td>Shelf Life Maxi.</td>
                    <td>3 months</td>
                  </tr>
                  <tr>
                    <td>Purpose</td>
                    <td>Cooking</td>
                  </tr>
                  <tr>
                    <td>Perishable</td>
                    <td>No</td>
                  </tr>
                  <tr>
                    <td>Organic</td>
                    <td>No</td>
                  </tr>
                </table>
              </div>
              <div class="prod-desc">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to make
                a type specimen book. It has survived not only five centuries, but also the leap into electronic
                typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                containing
                Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                versions
                of Lorem Ipsum.
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <app-footer></app-footer>
  </div>
</div>